<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<div>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <div class="bg-dark" id="inicio">
    <img
      class="img-fluid position-absolute end-0"
      src="resources/dist/img/local3.png"
      alt=""
    />

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="vh-100">
      <div class="container">
        <div class="row align-items-center py-lg-8 py-6">
          <div class="col-lg-6 text-center text-lg-start">
            <h1 class="text-white fs-5 fs-xl-6">
              Joya's Restaurant
            </h1>
            <p class="text-white py-lg-3 py-2">
              Fundado en El Salvador en 1992, Joya's Restaurant se ha convertido en la opcion preferida de 
              los salvadoreños de San Salvador.
            </p>
            <div class="d-sm-flex align-items-center gap-3">
              <button class="btn btn-success text-black mb-3 w-75">
                Leer más...
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0">
            <img
              class="img-fluid"
              src="resources/dist/img/logo-joya-restaurant.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper">
          <div
            class="swiper-container swiper-shadow swiper-theme"
            data-swiper='{"slidesPerView":2,"breakpoints":{"640":{"slidesPerView":2,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":40},"992":{"slidesPerView":5,"spaceBetween":40},"1024":{"slidesPerView":4,"spaceBetween":50},"1025":{"slidesPerView":6,"spaceBetween":50}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"freeMode":true,"autoplay":{"delay":2500,"disableOnInteraction":false}}'
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide text-center">
                <img src="resources/dist/img/logos/desayuno.png" alt="" />
              </div>
              <div class="swiper-slide text-center">
                <img src="resources/dist/img/logos/almuerzo.png" alt="" />
              </div>
              <div class="swiper-slide text-center">
                <img src="resources/dist/img/logos/cena.png" alt="" />
              </div>
              <div class="swiper-slide text-center">
                <img src="resources/dist/img/logos/postres.png" alt="" />
              </div>
              <div class="swiper-slide text-center">
                <img src="resources/dist/img/logos/combos.png" alt="" />
              </div>
              <div class="swiper-slide text-center">
                <img src="resources/dist/img/logos/eventos.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
  </div>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section>
    <div class="container" id="vacantes">
      <p class="text-center fs-1">Sección de empleos</p>
      <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">
        Vacantes disponibles.
      </h2>
      <div class="row gx-xl-7 mt-5">
        <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
          <img
            class="w-50 w-md-100"
            src="resources/dist/img/services/1.png"
            alt=""
          />
          <h4 class="mt-3 my-1">Cajero</h4>
          <p class="fs-1 mb-0">
            Se solicita cajero con 1 año de experiencia...
          </p>
          <a
            class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none"
            href="#"
            >Explore page<i class="fa-solid fa-arrow-right ms-2"></i
          ></a>
        </div>
        <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
          <img
            class="w-50 w-md-100"
            src="resources/dist/img/services/2.png"
            alt=""
          />
          <h4 class="mt-3 my-1">Mesero</h4>
          <p class="fs-1 mb-0">
            Se solicita mesero/a de tiempo completo...
          </p>
          <a
            class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none"
            href="#"
            >Explore page<i class="fa-solid fa-arrow-right ms-2"></i
          ></a>
        </div>
        <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
          <img
            class="w-50 w-md-100"
            src="resources/dist/img/services/3.png"
            alt=""
          />
          <h4 class="mt-3 my-1">Vigilante</h4>
          <p class="fs-1 mb-0">
            Se requiere de un vigilante con permiso de portar armas...
          </p>
          <a
            class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none"
            href="#"
            >Explore page<i class="fa-solid fa-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <hr>
    <section>
    <div class="container" id="menus">
      <h1 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75 mb-5">Menús</h1>
      <div class="row align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
          <img class="img-fluid" src="resources/dist/img/desayuno.jpg" alt="" />
        </div>
        <div class="col-lg-6">
          <h2 class="fs-xl-5 fs-lg-4 fs-3">
            Desayuno para empezar el dia.
          </h2>
          <ul class="list-unstyled my-xl-5 my-3">
            <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
              <i class="fa-solid fa-circle-check fs-4 text-dark"></i
              ><span>Café.</span>
            </li>
            <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
              <i class="fa-solid fa-circle-check fs-4 text-dark"></i
              ><span>Huevos revueltos.</span>
            </li>
            <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
              <i class="fa-solid fa-circle-check fs-4 text-dark"></i
              ><span>Pan tostado.</span>
            </li>
          </ul>
          <button class="btn btn-dark">$4.99</button>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
</div>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-sm-12">
        <a href="index.html"
          ><img
            class="img-fluid mt-5 mb-4"
            src="resources/dist/img/black-logo.png"
            alt=""
        /></a>
        <p class="w-lg-75 text-gray">
          Social media validation business model canvas graphical user interface
          launch party creative facebook iPad twitter.
        </p>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Landings</h3>
        <ul class="list-unstyled">
          <li class="my-3 col-md-4"><a href="#">Home</a></li>
          <li class="my-3"><a href="#">Products</a></li>
          <li class="my-3"><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Company</h3>
        <ul class="list-unstyled">
          <li class="my-3"><a href="#">Home</a></li>
          <li class="my-3">
            <a href="#">Careers</a
            ><span class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2"
              >Hiring!</span
            >
          </li>
          <li class="my-3"><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Resources</h3>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#">Home</a></li>
          <li class="mb-3"><a href="#">Products</a></li>
          <li class="mb-3"><a href="#">Services</a></li>
        </ul>
      </div>
    </div>
    <p class="text-gray">All rights reserved.</p>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<script src="app/controllers/login.js"></script>
