<div class="jumbotron">
    <div class="row">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-outline-success p-3" data-toggle="modal" data-target="#usersModal" 
                id="btn_nuevo_user">
                <i class="fas fa-user-plus"></i> Nuevo Usuario
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tbl_usuarios" class="table table-dark table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Fecha creación</th>
                        <th>Rol</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="usersModal" aria-labelledby="usersModalForm" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="usersModalForm">
            Registro de empleado
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="frm_registro_user" name="frm_registro_user" autocomplete="off">
                <div class="row">
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Usuario</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon3">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control rounded-end px-2 py-0" placeholder="Usuario" name="usuario"
                                id="usuario" required>
                        </div>
                    </div>
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Rol</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon4">
                                    <i class="fas fa-list-alt"></i>
                                </span>
                            </div>
                            <select class="form-control " name="id_rol" id="id_rol">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Clave</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon3">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control rounded-end px-2 py-0" placeholder="Contraseña" name="clave"
                                id="clave" required>
                        </div>
                    </div>
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Confirmar clave</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon3">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control rounded-end px-2 py-0" placeholder="Confirmar clave" name="confirmarClave"
                                id="confirmarClave">
                        </div>
                    </div>
                </div>
                <input type="submit" id="btn_user_save" name="btn_user_save" class="btn btn-success border-form w-100 p-2" value="Guardar">
            </form>

            <form id="frm_update_user" name="frm_update_user" autocomplete="off" class="d-none">
                <input type="hidden" id="id_usuario" name="id_usuario">
                <div class="row">
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Usuario</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon3">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control rounded-end px-2 py-0" placeholder="Usuario" name="usuarioUpdate"
                                id="usuarioUpdate">
                        </div>
                    </div>
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Rol</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon4">
                                    <i class="fas fa-list-alt"></i>
                                </span>
                            </div>
                            <select class="form-control " name="id_rolUpdate" id="id_rolUpdate">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Clave</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon3">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control rounded-end px-2 py-0" placeholder="Contraseña" name="claveUpdate"
                                id="claveUpdate">
                        </div>
                    </div>
                    <div class="col-6 msgHelp">
                        <label class="fw-bold">Confirmar clave</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light rounded-end-0" id="basic-addon3">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control rounded-end px-2 py-0" placeholder="Confirmar clave" name="confirmarClaveUpdate"
                                id="confirmarClaveUpdate">
                        </div>
                    </div>
                </div>
                <input type="submit" id="btn_user_update" name="btn_user_update" class="btn btn-success border-form w-100 p-2" value="Actualizar">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary p-2 px-3" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

<script type="module" src="app/controllers/usuarios.js"></script>